body {
  font-family: Helvetica, sans-serif;
  background-attachment: fixed;
  background-image: url("/images/background.jpg");;
  background-size: 1440px 900px;
 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
  padding: 0;
  margin: 0;
 
  font-size: 14px;
}

@font-face { font-family: Simplifica; src: url('SIMPLIFICA/SIMPLIFICA Typeface.ttf'); } 
 
.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}
 
header {
  background-color: #202020;
  padding: 20px 15px 0px 15px;
  position: relative;
  font-family: Simplifica;
  font-size: 30px;
}
 
#login-buttons {
  display: block;
  float: right;
  margin-right: -60px;
  margin-top: 10px; 
}

#login-buttons a {
  text-decoration: none !important;
  font-weight: 100;
}


 
h1 {
  color: white;
  font-weight: 100;
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}
 
form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}
 
.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}
 
.new-task input:focus{
  outline: 0;
}
 
ul {
  margin: 0;
  padding: 0;
  background: white;
}
 
.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}
 
li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}
 
li .text {
  margin-left: 10px;
}
 
li.checked {
  color: #888;
}
 
li.checked .text {
  text-decoration: line-through;
}
 
li.private {
  background: #eee;
  border-color: #ddd;
}
 
header .hide-completed {
  float: right;
}
 
.toggle-private {
  margin-left: 5px;
}
 
@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }
 
  .search {
    width: 150px;
    clear: both;
  }
 
  .new-task input {
    padding-bottom: 5px;
  }
}



#logo {
  width: 80px;
  height: 80px;
  float: right;
  margin-right: -20px;
  margin-top: -18px;
}

.page {
  display: none;
} 

.wrapper {
	width: 100%;
	height: 240px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.nav-button {
	width: 40%;
	height: 100%;
	float: left;
	margin-left: 6.67%;
	text-align: center;
	line-height: 20px;
  border-radius: 240px;
}

.nav-button-label {
	color: white;
	font-size: 16px;
	font-weight: 100;
}

#back {
  width: 40px;
  float: left;
  margin-left: -50px;
  margin-top: -20px;
}

.back {
  float: left;
  width: 40px;
  margin-top: 20px;
  margin-left: 10px;
}


#agreement {
	background-color: #46c3e6;
}

#contract-icon {
  height: 140px;
  margin: 0 auto;
  margin-top: 40px;
}

#shopping-icon {
  height: 120px;
  margin: 0 auto;
  margin-top: 60px;
}

#shopping-icon-1 {
  width: 80px;

  margin: 0 auto;
  margin-top: -30px;

  float: left;
}

#task-icon {
  height: 120px;
  margin: 0 auto;
  margin-top: 40px;
}

#utilities-icon {
  height: 135px;
  margin: 0 auto;
  margin-top: 20px;
}

#contract-icon-2 {
  margin: 0 auto;
  margin-top: -60px;
  width: 50px;
  height: 50px;
  float: left;
}

#agreement-header {
  color: #e65d25;
  margin-left: 55px;
}

#agreement-page {
  width: 80%;
  margin: 0 auto;
  margin-top: 45px;
}

.approved-icon {
  width: 50px;
  float: right;
  margin: 0 auto;
  margin-top: -55px;  
}

.pending-icon {
  width: 50px;
  margin-left: -1px;
}

.agreement-icon {
  float: right;
  width: 60px;
}

#icon-wrapper {
  margin-top: -65px;
}

#pending-wrapper {
  width: 48px;
  height: 48px;
  background-color: darkgrey;
  border-radius: 50px;

  float: right;
  margin: 0 auto;
  margin-top: -55px;  
}

.agreement {
  height: 60px;
  
  margin-bottom: 20px;

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 10px;

  line-height: 5px;
  font-weight: 100;

  border-radius: 5px;
}

.accepted {
  background-color: #e65d25;
  color: white;
}

.pending {
  color: #e65d25;
  background-color: #ddd;
}

#add-icon {
  width: 30px;  
  margin: 10px;
}

#add-icon-1 {
  width: 20px;
  float: right; 
  margin-top: 5px;
  margin-right: 5px;
}

#addAgreement {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: #e65d25;
  float: right;
}

.popup {

  display: none;

  background-color: white;
  position: fixed;
  width: 480px;
  top: 155px;
  margin: 0 auto;

  height: 330px;
  font-size: 16px;
  z-index: 1;
  -webkit-appearance: none;
  -moz-appearance: none;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type="text"] {

  border-radius: 0px;
  background-color: #eee;
  border: 1px solid white;

  font-size: 14px;
  font-weight: 100;
  padding-left: 15px;
}

#title-input {
  margin-left: 20px;
  margin-top: 10px;

  width: 140px;
  height: 40px;
  float: left;
  /*margin-left: 100px;*/

}

#description-input {

  margin-left: 20px;
  margin-top: 10px;

  float: left;
  width: 415px;
  height: 180px;
  padding-top: -100px;
  display:table-cell; 
}

#submit-agreement {

  margin-right: 2px;

  width: 80px;
  height: 40px;
  margin-right: 28px;
  margin-top: 10px;

  border-radius: 0px;
  background-color: #eee;
  border: 1px solid white;

  font-size: 14px;
  font-weight: 100;
  float: right;
}

#cancel-agreement {
  width: 20px;
  float: right;
  margin-right: 25px;
  margin-top: 8px;
}

#form-button-wrapper {
  width: 100%;
  height: 60px;
}



#shopping-page {
  width: 80%;
  margin: 0 auto;
  margin-top: 45px;
}

#shopping-list {
	background-color: #88c240;
	/*margin-right: 5%;*/
}

#shopping-header {
  color: #88c240;
  margin-top:  0px;
  float: left;
}

.item-label {
  float: left;
  margin-top: 0px;
  color: black;
}

input[type="checkbox"] {
  float: left;
  margin-right: 20px;
  margin-left: 20px;
}

.list-item {
  height: 30px;
  color: black;
  font-weight: 100;
  width: 100%;
  float: left;
  margin-top: 20px;
  border-bottom: 1px dashed #eee;
}

.bought {
  color: #ccc;
  text-decoration: line-through;
}

#addItem {
  width: 30px;
  height: 30px;
  border-radius: 0px;
  background-color: #88c240;
  float: left;
  margin-top: 10px;
}

#new-item-input {
  height: 28px;
  border: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#new-item-wrapper {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}

#tasks {
	background-color: orange;
}

#rent-utilities {
	background-color: #e65d25;
	/*margin-right: 5%;*/
}

#day {
  width: 100%;
  height: 500px;
  background-color: red;
}

.side-bar {
  float: left;
  width: 20%;
  height: 100%;
}

#next {
  float: left;
  
}

#prev {
  float: 
}

#rent-mock-up {
  width: 70%;
  margin: 0 auto;
  margin-left: 5%;
  margin-top: 30px;
}


#task-mock-up {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
}



